<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS & JS-->
<!--    <link rel="stylesheet" href="bootstrap-4.6.0-dist/css/bootstrap.css">-->
    <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="bootstrap-4.6.0-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script src="js/plugins/pace.min.js"></script>
    <!-- Font-icon css-->
<!--    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <title>GMS</title>

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script>
        window.onload=function(){
            document.getElementById("right_body").onload=function (){
                // changeFrameHeight();
                var iframe=document.getElementById("right_body");
                setTimeout(function () {
                    iframe.height=iframe.contentWindow.document.documentElement.offsetHeight;
                },800);
                // iframe.height=iframe.contentWindow.document.documentElement.scrollHeight;
            }
            // document.body.clientHeight
            // document.getElementById("right_body").setAttribute("height",document.getElementById("sidebar").clientHeight);
            document.getElementById("right_body").setAttribute("src","pages/test.html");
        }

        function changeFrameHeight() {
            var ifm = document.getElementById("right_body");
            var iDoc = ifm.contentDocument || ifm.document || ifm.contentWindow;
            var height = calcPageHeight(iDoc);
            ifm.style.height = height + 'px'
        }

        function calcPageHeight(doc) {
            var cHeight = Math.max(doc.body.clientHeight, doc.documentElement.clientHeight)
            var sHeight = Math.max(doc.body.scrollHeight, doc.documentElement.scrollHeight)
            var height = Math.max(cHeight, sHeight)
            return height
        };
    </script>
</head>

<body class="sidebar-mini fixed" >
    <div class="wrapper">
        <!-- Navbar-->
        <header class="main-header hidden-print"><a class="logo" href="index.html">GMS</a>
            <nav class="navbar navbar-static-top">

                <a class="sidebar-toggle" href="#" data-toggle="offcanvas"></a>

                <div class="navbar-custom-menu">
                    <ul class="top-nav">
<!--                        <li class="dropdown notification-menu"><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell-o fa-lg"></i></a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li class="not-head">You have 0 new notifications.</li>-->
<!--                                <li><a class="media" href="javascript:;"><span class="media-left media-icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span><div class="media-body"><span class="block">Lisa sent you a mail</span><span class="text-muted block">2min ago</span></div></a></li>-->
<!--                                <li class="not-footer"><a href="#">See all notifications.</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
                        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
                            <ul class="dropdown-menu settings-menu">
                                <li><a href="page-user.html"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
                                <li><a href="page-user.html"><i class="fa fa-user fa-lg"></i> Profile</a></li>
                                <li><a href="user/doLogout"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Side-Nav-->
        <aside class="main-sidebar hidden-print">
            <section id="sidebar" class="sidebar">
                <div class="user-panel">
                    <div style="padding-left: 10px; color: whitesmoke">你好,欢迎</div>
<!--                    <div class="pull-left image"></div>-->
<!--                    <div class="pull-left info">-->
<!--                        <p class="designation">Frontend Developer</p>-->
<!--                    </div>-->
                </div>
                <!-- Sidebar Menu-->
                <ul class="sidebar-menu" id="sidebar_menu">
                    <li class="active"><a href="index.html"><i class="fa fa-dashboard"></i><span>Home</span></a></li>
<!--                    <li class="treeview" v-for="(p_item,p_index) in parentMenu" :key="p_index" :content="p_item"><a href="#"><i class="fa fa-file-text"></i><span>{{p_item.p_name}}</span><i class="fa fa-angle-right"></i></a>-->
<!--                        <ul class="treeview-menu">-->
<!--                            <li><a :href="c_item.url" target="right_body" v-for="(c_item,c_index) in p_item.childMenu" :key="c_index" :content="c_item"><i class="fa fa-circle-o"></i>{{c_item.c_name}}</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                    <li class="treeview" v-for="(p_item,p_index) in menu" :key="p_index" :content="p_item"><a href="#"><i class="fa fa-file-text"></i><span>{{p_item.name}}</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a :href="c_item.url" target="right_body" v-for="(c_item,c_index) in p_item.list" :key="c_index" :content="c_item"><i class="fa fa-circle-o"></i>{{c_item.name}}</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>

        <div class="content-wrapper" style="padding: 0px;"><iframe id="right_body" name="right_body" width="100%" frameborder="0" ></iframe></div>
    </div>
    <!-- Javascripts-->
    <script src="js/main.js"></script>
    <script src="js/menu.js"></script>
</body>

</html>