<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../bootstrap-4.6.0-dist/css/bootstrap.css">
    <!--    <link rel="stylesheet" href="../css/main.css">-->
    <script type="text/javascript" src="../js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../bootstrap-4.6.0-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/vue.js"></script>
    <link rel="stylesheet" href="../css/match_new.css">
    <title>Title</title>
</head>
<body>
<div class="bg-white" style="padding: 10px 10px 10px 20px;">赛事管理>>赛事创建</div>
<div class="content_body">
    <div class="form_referee bg-white">
        <h3>赛事创建</h3>
        <hr>
        <form id="form_referee">
            <div class="option input-group mb-3">
                <div class="input-group-prepend">
                    <span class="label_key" id="basic-addon1">赛事名称:</span>
                </div>
                <input type="text" id="userName" name="userName" class="form-control" placeholder="matchName" aria-label="Username" v-model="username">
                <div class="invalid-feedback has-error-required" style="padding-left: 70px"></div>
            </div>
            <div class="option input-group mb-3">
                <div class="input-group-prepend">
                    <span class="label_key">赛事描述:</span>
                </div>
                <textarea class="form-control" name="description" aria-label="With textarea" v-model="description"></textarea>
            </div>
            <div class="option input-group mb-3">
                <div class="input-group-prepend">
                    <span class="label_key">赛事类型:</span>
                </div>
                <div width="100%">
                <select class="custom-select">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                </div>
            </div>
            <div class="option input-group mb-3">
<!--                <div class="input-group-prepend">-->
<!--                    <span class="label_key">赛事场地:</span>-->
<!--                </div>-->
                <div class="accordion" id="accordionExample" style="width: 100%">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h7 class="mb-0">
                                <span>赛事场地</span>
                                <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="float-lg-right">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </span>
                            </h7>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <hr>
                                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <div><button type="button" class="btn btn-primary btn-sm" @click="getDataByCondition()">Apply</button></div>
                                    </div>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col" width="15%">场地编号</th>
                        <th class="text-center" scope="col" width="15%">场地楼层</th>
                        <th class="text-center" scope="col" width="30%">日期</th>
                        <th class="text-center" scope="col" width="30%">时间</th>
                        <th class="text-center" scope="col" width="20%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>item.matchType}}</td>
                        <td>item.matchTime}}</td>
                        <td>item.matchPlace}}</td>
                        <td>item.matchPlace}}</td>
                        <td><span class="text_operate">delete</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="option input-group mb-3">
                <div class="accordion" id="accordionExample2" style="width: 100%">
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h7 class="mb-0">
                                <span>赛事器材</span>
                                <span data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="float-lg-right">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </span>
                            </h7>
                        </div>
                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                             data-parent="#accordionExample2">
                            <div class="card-body">
                                <hr>
                                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <div><button type="button" class="btn btn-primary btn-sm" @click="getDataByCondition()">Apply</button></div></div>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col" width="15%">场地编号</th>
                        <th class="text-center" scope="col" width="15%">场地楼层</th>
                        <th class="text-center" scope="col" width="30%">日期</th>
                        <th class="text-center" scope="col" width="30%">时间</th>
                        <th class="text-center" scope="col" width="20%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>item.matchType}}</td>
                        <td>item.matchTime}}</td>
                        <td>item.matchPlace}}</td>
                        <td>item.matchPlace}}</td>
                        <td><span class="text_operate">delete</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-toolbar justify-content-end">
                <button class="bottom_btn btn btn-primary" type="reset">reset</button>
                <input class="bottom_btn btn btn-primary" type="button" value="submit" @click="submitInfo()">
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="../js/match_referee_new.js"></script>
</body>
</html>