<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../bootstrap-4.6.0-dist/css/bootstrap.css">
    <!--    <link rel="stylesheet" href="../css/main.css">-->
    <script type="text/javascript" src="../js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../bootstrap-4.6.0-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/vue.js"></script>
    <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/place_query.css">
    <title>Title</title>
</head>
<body>
<div class="container" id="table_place">
    <div class="card card-margin-top">
        <div class="card-header">
            <i class="fa fa-filter" aria-hidden="true">&nbsp;筛选内容</i>
            <span>
                         <span class="">&nbsp;&nbsp;</span><i class="fa fa-search " aria-hidden="true" style="cursor: pointer" @click="sentChecked()">&nbsp;查询</i>
                         <span class="">&nbsp;&nbsp;</span><i class="fa fa-file-text-o " aria-hidden="true" style="cursor: pointer">&nbsp;导出</i>
                         <i class="fa fa-chevron-down  align-items-center" aria-hidden="true" data-toggle="collapse" href="#collapse" style="cursor: pointer"></i>
                     </span>

        </div>
        <div id="collapse" class="collapse show" >
            <div class="card-body row">
                <div class="col-md-6 text-center content-padding" >
                    <label for="selectstorey"  class="label-margin">场地楼层</label>
                    <select id="selectstorey" class="selection-width" v-model="storey">
                        <option >请选择场地楼层</option>
                        <option >一楼</option>
                        <option >二楼</option>
                        <option >三楼</option>
                    </select>
                </div>
                <div class="col-md-6 text-center content-padding" >
                    <label for="selecttype" class="label-margin"  >场地类型</label>
                    <select id="selecttype" class="selection-width" v-model="type">
                        <option >请选择场地类型</option>
                        <option >篮球场</option>
                        <option >羽毛球场</option>
                        <option >排球场</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-margin-top card-margin-buttom"  >
        <div class="card-header">
            <div>
                <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;<span>场地信息列表</span>
            </div>
            <div >
                <i id="square" class="fa fa-plus-square pointer" aria-hidden="true" data-toggle="modal" data-target="#staticBackdrop" ></i>
                <label for="square"  class="label-margin" >添加场地</label>
                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">
                                    <i id="squareed" class="fa fa-plus-square pointer" aria-hidden="true" data-toggle="modal" data-target="#staticBackdrop"></i>
                                    <label for="squareed"  class="label-margin" >添加场地</label>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">

                                <form class="was-validated" action="/place/placeAdd" @submit="checkPlaceNo" method="post">
                                    <div class="invalid-feedback">
                                        &nbsp;{{placemsg}}
                                    </div>
                                    <div class="mb-3">
                                        <div class="input-group is-invalid">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="validatedInputGroupPrepend">
                                                    <i class="fa fa-list-ol" aria-hidden="true"></i>
                                                    &nbsp;&nbsp;场地编号
                                                </span>
                                            </div>
                                            <input type="text" class="form-control is-invalid" aria-describedby="validatedInputGroupPrepend" name="placeNo" v-model="placeNo" required>
                                        </div>

                                    </div>

                                    <div class="mb-3">
                                        <div class="input-group is-invalid">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="validatedInputGroupSelect">
                                                    <i class="fa fa-hospital-o" aria-hidden="true"></i>
                                                    &nbsp;&nbsp;场地楼层
                                                </label>
                                            </div>
                                            <select class="custom-select" id="validatedInputGroupSelect" name="placeStorey"  required>
                                                <option >一楼</option>
                                                <option >二楼</option>
                                                <option >三楼</option>
                                            </select>
                                        </div>
<!--                                        <div class="invalid-feedback">-->
<!--                                            Example invalid input group feedback-->
<!--                                        </div>-->
                                    </div>

                                    <div class="mb-3">
                                        <div class="input-group is-invalid">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="validatedInputGroupSelectt">
                                                    <i class="fa fa-spinner" aria-hidden="true"></i>
                                                    &nbsp;&nbsp;场地类型
                                                </label>
                                            </div>
                                            <select class="custom-select" id="validatedInputGroupSelectt" name="placeType"  required>
                                                <option >篮球场</option>
                                                <option >羽毛球场</option>
                                                <option >排球场</option>
                                            </select>
                                        </div>
<!--                                        <div class="invalid-feedback">-->
<!--                                            Example invalid input group feedback-->
<!--                                        </div>-->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                        <button type="submit" class="btn btn-primary" >确定</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                &nbsp;&nbsp;
                <i id="refresh" class="fa fa-refresh .pointer" aria-hidden="true" ></i>
                <label for="refresh"  class="label-margin" @click="sentChecked()">刷新</label>
            </div>
        </div>
        <div style="padding: 20px">
            <table class="table ">
                <thead class="table-dark">
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">场地编号</th>
                    <th scope="col">场地类型</th>
                    <th scope="col">场地楼层</th>
                    <th scope="col">场地状态</th>
                    <th scope="col">场地负责人</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in list" :key="index" :content="item">
                    <th>
                        {{index+1}}
                    </th>
                    <td>{{item.placeNo}}</td>
                    <td>{{item.placeType}}</td>
                    <td>{{item.placeStorey}}</td>
                    <td>{{item.placeState}}</td>
                    <td>{{item.placeManage}}</td>
                    <td>
                        <div  class="placeoption">
                            <a  class="badge badge-info"><i class="fa fa-pencil fa-2x" aria-hidden="true" @click="placeEdit(item.placeId)" data-toggle="modal" data-target="#staticBackdropEdit"></i></a>
                            <div class="modal fade" id="staticBackdropEdit" data-backdrop="static" data-keyboard="false" tabindex="-1" :aria-labelledby="index" aria-hidden="true">
                                <div class="modal-dialog ">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" :id="index">
                                                <i id="squareedEdit" class="fa fa-plus-square pointer" aria-hidden="true" data-toggle="modal" data-target="#staticBackdrop" ></i>
                                                <label for="squareedEdit"  class="label-margin" >更新场地</label>
                                            </h5>
                                            <button id="close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-center">

                                            <form class="was-validated" >

                                                <div class="mb-3">
                                                    <div class="input-group is-invalid">
                                                        <div class="input-group-prepend">
                                                            <label class="input-group-text" for="validatedInputGroupSelectEdit">
                                                                <i class="fa fa-hospital-o" aria-hidden="true"></i>
                                                                &nbsp;&nbsp;场地楼层
                                                            </label>
                                                        </div>
                                                        <select class="custom-select" id="validatedInputGroupSelectEdit" name="placeStorey" v-model="place.placeStorey" required>
                                                            <option >一楼</option>
                                                            <option >二楼</option>
                                                            <option >三楼</option>
                                                        </select>
                                                    </div>
                                                    <!--                                        <div class="invalid-feedback">-->
                                                    <!--                                           Example invalid input group feedback-->
                                                    <!--                                        </div>-->
                                                </div>

                                                <div class="mb-3">
                                                    <div class="input-group is-invalid">
                                                        <div class="input-group-prepend">
                                                            <label class="input-group-text" for="validatedInputGroupSelecttEdit">
                                                                <i class="fa fa-spinner" aria-hidden="true"></i>
                                                                &nbsp;&nbsp;场地类型
                                                            </label>
                                                        </div>
                                                        <select class="custom-select" id="validatedInputGroupSelecttEdit" name="placeType" v-model="place.placeType" required>
                                                            <option >篮球场</option>
                                                            <option >羽毛球场</option>
                                                            <option >排球场</option>
                                                        </select>
                                                    </div>
                                                    <!--                                        <div class="invalid-feedback">-->
                                                    <!--                                            Example invalid input group feedback-->
                                                    <!--                                        </div>-->
                                                </div>

                                                <div class="mb-3">
                                                    <div class="input-group is-invalid">
                                                        <div class="input-group-prepend">
                                                            <label class="input-group-text" for="validatedInputGroupSelectaEdit">
                                                                <i class="fa fa-list" aria-hidden="true"></i>
                                                                &nbsp;&nbsp;场地状态
                                                            </label>
                                                        </div>
                                                        <select class="custom-select" id="validatedInputGroupSelectaEdit" name="placeState" v-model="place.placeState" required>
                                                            <option >可使用</option>
                                                            <option >维修中</option>
                                                        </select>
                                                    </div>
                                                    <!--                                        <div class="invalid-feedback">-->
                                                    <!--                                            Example invalid input group feedback-->
                                                    <!--                                        </div>-->
                                                </div>
                                            </form>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                                <button type="submit" class="btn btn-primary" @click="placeUdate()">确定</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a  class="badge badge-danger"><i class="fa fa-trash fa-2x" aria-hidden="true" @click="placeDelete(item.placeId)"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item " >
                        <a class="page-link"  tabindex="-1"  @click="turnpagepre()">Previous</a>
                    </li>
                    <li class="page-item" v-for="index in totalpage" :key="index" :content="item" :class="(current == (index )) ? 'active' : '' ">
                        <a class="page-link"  @click="turnpage(index)">{{index}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"  @click="turnpagenext()">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/place_query.js"></script>
</body>
</html>